version: 2
updates:
  - package-ecosystem: github-actions
    directories:
      - /
      - /.github/actions/*
    schedule:
      interval: quarterly
    groups:
      ci-dependencies:
        dependency-type: production
    cooldown:
      default-days: 10
      exclude:
        - agrc/*

  - package-ecosystem: npm
    directory: /
    schedule:
      interval: quarterly
    groups:
      safe-dependencies:
        update-types:
          - minor
          - patch
      major-dependencies:
        update-types:
          - major
    cooldown:
      default-days: 10
      semver-major-days: 60
      semver-minor-days: 14
      semver-patch-days: 7
      exclude:
        - '@ugrc/*'

  # ignore the expo project, this needs to be updated manually using expo tools
  # this is a workaround until this is implemented: https://github.com/dependabot/dependabot-core/issues/4364
  - package-ecosystem: npm
    directory: /src/front
    schedule:
      interval: quarterly
    ignore:
      - dependency-name: '*'

  - package-ecosystem: pip
    directory: src/palletjack
    schedule:
      interval: quarterly
    groups:
      safe-dependencies:
        update-types:
          - minor
          - patch
      major-dependencies:
        update-types:
          - major
    cooldown:
      default-days: 10
      semver-major-days: 60
      semver-minor-days: 14
      semver-patch-days: 7
      exclude:
        - ugrc-*
        - agrc-*
