version: 2
updates:
  - package-ecosystem: github-actions
    directories:
      - /
      - /.github/actions/*
    schedule:
      interval: quarterly
    groups:
      ci-dependencies:
        dependency-type: production
    cooldown:
      default-days: 10
      exclude:
        - agrc/*

  - package-ecosystem: npm
    directory: /
    exclude-paths:
      - /src/front/**
    schedule:
      interval: quarterly
    groups:
      safe-dependencies:
        update-types:
          - minor
          - patch
      major-dependencies:
        update-types:
          - major
    cooldown:
      default-days: 10
      semver-major-days: 60
      semver-minor-days: 14
      semver-patch-days: 7
      exclude:
        - '@ugrc/*'

  - package-ecosystem: pip
    directory: src/palletjack
    schedule:
      interval: quarterly
    groups:
      safe-dependencies:
        update-types:
          - minor
          - patch
      major-dependencies:
        update-types:
          - major
    cooldown:
      default-days: 10
      semver-major-days: 60
      semver-minor-days: 14
      semver-patch-days: 7
      exclude:
        - ugrc-*
        - agrc-*
