# use this command to test this file: eas build:inspect --platform ios --stage archive --output ./temp --profile production

.coverage
.git
.github/
.pytest_cache/
.vscode/
*.aab
*.apk
*.gz
*.ipa
data/
!src/front/data/
docker-compose.yaml
docs/
facebook-screen-recording/
src/back/
src/front/.env
src/front/.expo*
src/front/dev-clients/
src/front/store-assets/
src/palletjack/
src/website/
