API=http://localhost:3000
CLIENT_ID=oauth-client-id
APP_VARIANT=development
FACEBOOK_OAUTH_CLIENT_ID=
FACEBOOK_OAUTH_CLIENT_TOKEN=
FIREBASE_MEASUREMENT_ID=G-XXXXXXXXXX #: only required in .env
GOOGLE_OAUTH_CLIENT_ID_ANDROID=
GOOGLE_OAUTH_CLIENT_ID_IOS=
GOOGLE_SERVICES_ANDROID=google-services.json
GOOGLE_SERVICES_IOS=GoogleService-Info.plist
SENTRY_AUTH_TOKEN=
APP_QUAD_WORD=wide-open-quad-word
FASTLANE_APPLE_APPLICATION_SPECIFIC_PASSWORD=

# for use in scripts/updateConstants.js only - should be changed to production database at some point
DATABASE_HOST=
DATABASE_PASSWORD=

# don't forget to add any new values to the GitHub repo environment secrets.
