node_modules/
.expo/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS
.DS_Store
.env*
!.env.sample
!.env.test

*.aab
*.ipa
*.apk

google-services-*.json
GoogleService-Info-*.plist
*-simulator.tar.gz
