node_modules/
.expo/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

.env*
!.env.sample
!.env.test

*.aab
*.ipa
*.apk
*.gz
!dev-clients/*
*.app

google-services*.json
GoogleService-Info*.plist

.DS_Store
